@import "reset.css";

.app {
  text-align: left;
}
.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding: 30px;
  font-size: large;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 40px 30px;
  border-bottom: 1px solid black;
}

.list h4 {
  font-size: larger;
  font-weight: 600;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}
